---
layout: default
title: Bigger Than Yourself
---



<div class="twelve columns omega">
	

	<div>
		 {% include post-title.html %}
	</div>

	<div>
		 {% include post-title.html %}
	</div>

	<div>
		 {% include post-title.html %}
	</div>

	<div>
		 {% include post-title.html %}
	</div>

	<div>
		 {% include post-title.html %}
	</div>

	<p class="intro">As screens become a primary delivery method for information and visual form, graphic designers are confined to working in exceedingly smaller viewports. This course will refocus our attention to the physical environment as an opportunity for graphic interruption and large scale works. Students will investigate issues of modularity, duplication, architectural framing, placement, and interruption as potential for inserting graphic form into our collective environment, both physically and through the use of projection. Throughout the semester, we will reference poster design, supergraphics, exhibition signage, way finding systems, and art installations as disciplines in which graphic designers are producing work at dramatic scale.

	</p>
	

</div>