<nav class="main-nav">
    <h1><a href="{{site.siteurl}}/">Bigger Than Yourself</a></h1>

    <ul class="pages-nav">
        <li class="{%if page.section == "syllabus" %} active {% endif %}"><a href="{{site.siteurl}}/syllabus">Syllabus</a></li>
        <li class="{%if page.section == "work-in-progress" %} active {% endif %}"><a href="{{site.siteurl}}/work-in-progress">Work in Progress</a></li>
        <li class="{%if page.section == "people" %} active {% endif %}"><a href="{{site.siteurl}}/people">People</a></li>
        <li class="{%if page.section == "resources" %} active {% endif %}"><a href="{{site.siteurl}}/resources">Resources</a></li>
    </ul>

    <ul class="contact-info">
        <li>mbarrett02@risd.edu</li>
        <li>Office hours by appointment only</li>
    </ul>
</nav>