<nav class="sub-page-nav">
		<ul>
			<li>Week</li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">One</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Two</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Three</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Four</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Five</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Six</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Seven</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Eight</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Nine</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Ten</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Eleven</a></li>
			<li><a href="{{site.siteurl}}/work-in-progress/week-one">Twelve</a></li>
		</ul>
	</nav>