
h1{
	font-size:1em;
}

p, li{
	line-height:1.4em;
	font-size:18px;
}

p, li, h1, h2, h3, h4, h5, h6{
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

.intro, .author-links li, .sub-page-nav ul li, .post-excerpt h3{
	font-size:4.5em;
	font-family:times, serif;
	font-weight:normal;
	line-height:1em;
	-webkit-hyphens:auto;
	@media only screen and (max-width:767px){
		font-size:2em;
		line-height:1.125em;
	}
}

.post-excerpt h3{
	margin-bottom:0em;
}

.contact-info li{
	font-family:monospace;
	color:rgb(100,100,100);
	font-size:1em;
}


.post-excerpt p{
	margin-bottom:0em;
}

.post-meta-data{
	margin-top:0em;
	font-family:monospace;
	font-size:1em;
}
